<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>
    
    <style>
        #map {
                height: 400px;

                width: 100%;
  
            }
    </style>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDguzr-_ffq9OG2IisFWoAK7BYsXa-XPas&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script>
      // Initialize and add the map
    
      function initMap() {
              var json_data = {{parcel|tojson}};
              var ids = String(json_data['id'])+"_main_pic.JPG";
            
              const location = { lat: json_data['latitude'], lng: json_data['longitude'] };
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: location,
              });
            
             
              const contentString =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<img src={{url_for('static', filename=parcel.filename)}}  width="400" height="250">'+
                '<h1 id="firstHeading" class="firstHeading">Street Address</h1>' +
                '<div id="bodyContent">' +
                    json_data['st']
                "</div>" +
                "</div>";
              const infowindow = new google.maps.InfoWindow({
                content: contentString,
              });
              const marker = new google.maps.Marker({
                position: location,
                map,
                title: "USA Map",
              });
              marker.addListener("click", () => {
                infowindow.open(map, marker);
              });
        }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <h1>Parcel Id: {{parcel.id}}</h1>
    <div id="map"></div>
  </body>
</html>